.mainDiv {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 200px;

  margin: 30px auto 0 auto;
  border-bottom: 2px solid #6643b5;
}

.mainDiv img {
  width: 130px;
  height: 130px;

  margin: 0 auto;
  border-radius: 50%;
}

.mainDiv h1 {
  text-align: center;
}